body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;

    background-image: url("background.png");
    background-position: bottom left;
    background-size: unset;
    background-repeat: no-repeat;
    background-color: #31343c;
}
/*стили терминала*/

#sel_3 {
    height: 500px;
}
.sel_option_0 {
    color: #ec552d;
    font-size: 22px;
    font-weight: bold;
}

.sel_option {
    padding: 10px;
    font-weight: bold;
}

.terminal_alert {
    font-size: 30px;
    color: red;
}

/* стили чертежей */
#select_draws {
    height: 300px;
    width: 500px;
}

h1 {
    color: #ec562d;
    font-weight: bold;
    font-size: 26px;
}

h3,
h4 {
    color: #ec562d;
    font-weight: bold;
    font-size: 22px;
}

h4 {
    font-size: 20px;
    text-align: center;
}

.row {
    margin: 10px;
}

.col {
    margin: 10px;
    display: inline-block;
}

.col-form {
    margin: 10px;
}

.alert {
    color: #ec552d;
    font-size: 22px;
    font-weight: bold;
}

/*исчезающее сообщение*/
.alert_gone {
    color: green;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
}
/*таблицы*/
.table {
    border: solid 1px orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-spacing: 2px;
    display: inline-block;
    vertical-align: middle;
    width: auto;
}

.td_cell {
    border: solid 1px orange;
    background-color: transparent;
    padding: 5px;
    text-align: center;
}

.td_cell input {
    width: 50px;
    height: 38px;
}

.td_cell input:hover {
    background-color: red;
}

.yesterday {
    /* font-weight: bold; */
    color: orange;
    font-size: 1.8em;
    /* width: 100px; */
}

.cell_text {
    font-size: 16px;
    font-weight: bold;
}

.table_header_row {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

/* .table_h3 {
    font-weight: bold;
    font-size: 22px;
} */

/*блок формы */
.form_form {
    width: 1000px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.td_query_block {
    border: solid red 1px;
    border-radius: 10px;
    margin: 10px;
}

.add_to_plan {
    border: solid green 1px;
    margin: 10px;
    border-radius: 10px;
}
.form_inner_div {
    margin: 10px;
    padding: 5px;
    display: inline-block;
}
.form_inner_label {
    margin: 10px;
    display: inline-block;
    padding: 5px;
    color: #ef7f1a;
    font-size: 22px;
    font-weight: bold;
}

.form-error {
    color: red;
}

select {
    font-size: 16px;
    padding: 3px;
    margin: 3px;
    border-radius: 7px;
    height: 40px;
}
input {
    font-size: 14px;
    border-radius: 7px;
    height: 22px;
}
.form_button {
    font-size: 16px;
    border-radius: 4px;
    margin: 3px;
    /* width: 200px;
    height: 30px; */
    /* height: auto; */
    /* padding: 5px; */
}
.red_word {
    color: red;
    /* display: inline-block; */
}

.green_word {
    color: green;
    /* display: inline-block; */
}
#id_excel_file {
    border: solid 1px orange;
    font-size: 16px;
    padding: 5px;
    width: auto;
    height: auto;
}

.form_row {
    display: inline-block;
}

.form_div {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: auto;
}

.table_div {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: auto;
}

.hide_button {
    color: white;
    background-color: gray;
    position: absolute;
    padding: 5px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    width: 110px;
    height: 70px;
    border-radius: 5px;
}

.legend {
    position: absolute;
    width: 200px;
    /* position: sticky; */
    top: 30px;
    right: 10px;
    top: 10px;
}
.legend_row {
    border-bottom: 0.5px solid red;
    margin: 2px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.add_to_plan {
    background-color: #31343c;
    border: solid green 1px;
    margin: 10px;
    border-radius: 10px;
}

/* Стили модальных окон */
.btn {
    background-color: white;
    border: solid 2px black;
    border-radius: 10px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 14px 0 14px;
    box-shadow: 10em;
}
.btn:hover {
    background-color: green;
    color: white;
    border: solid 2px black;
    border-radius: 10px;
    /* font-weight: bold; */
    /* width: 15em; */
}
/* Стили легенды окон */
.legend {
    position: absolute;
    top: 10px;
    right: 10px;
    /* display: block; */
    text-align: right;
    width: max-content;
}
.legend a {
    color: red;
    text-align: right;
}

.notification {
    /* position: absolute; */
    display: block;
}

.scheduler {
    /* float: right; */
    display: inline-block;
}

.report_input {
    font-size: 1rem;
    padding: 3px;
    margin: 3px;
    border-radius: 7px;
    height: 30px;
}

.name_input {
    font-size: 16px;
    padding: 3px;
    margin: 3px;
    border-radius: 7px;
    height: 40px;
}
.name_select {
    font-size: 16px;
    padding: 3px;
    margin: 3px;
    border-radius: 7px;
    width: 400px;
    height: 40px;
    background-color: transparent;
    color: white;
}
.name_select_option {
  color: white;
  background: #31343C;
}

.draw_select {
    font-size: 16px;
    padding: 3px;
    margin: 3px;
    border-radius: 7px;
    width: 300px;
    height: 40px;
    background-color: transparent;
    color: white;
}
.draw_select_option {
  color: white;
  background: #31343C;
}

.table_spec {
    border: solid 1px orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-spacing: 2px;
    display: inline-block;
    vertical-align: middle;
    width: auto;
}

.sz_textarea {
    font-size: 1rem;
    padding: 3px;
    margin: 3px;
    border-radius: 7px;
}

.scroll_div_back {
    width:970px;
    overflow:hidden;
}

.scroll_div {
    height:300px;
    overflow-y:scroll;
}
