{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Рабочее место технолога</title>
        <link type="text/css" href="{% static 'scheduler/css/scheduler.css' %}" rel="stylesheet" />
    </head>
    <body>
        {% if request.user.is_authenticated %}
        <div class="logined_user">{{ user.username }} | <a href="{% url 'logout' %}"> Выйти </a></div>
        {% else %} <a href="{% url 'login' %}"> Войти </a>
        {%endif %}
        <h1>Рабочее место технолога</h1>
        <div class="form_div">
            <h3>Форма для заполнения</h3>
            <form action="{% url 'tehnolog' %}" method="post" enctype="multipart/form-data" class="form_form">
                {% csrf_token %}
                <div class="add_to_plan">
                    <div class="form-error">{{ form.non_field_errors }}</div>

                    {% for each_form in form %}

                    <div class="form_inner_label">
                        <label for="{{ each_form.id_for_label }}">{{each_form.label}}: </label>
                    </div>
                    <div class="form_inner_div">{{ each_form }}</div>

                    <div class="form-error">{{ each_form.errors }}</div>
                    {% endfor %}
                </div>
                <button type="submit" class="form_button">Добавить</button>
            </form>
        </div>
        <!-- prettier-ignore -->
        {% if td_queries %}
        <div class="table_div">
            <h3>Заявки на документацию</h3>
            <table title="Заявки на документацию" class="table">
                <tr class="table_header_row">
                    <td class="td_cell">Заказ</td>
                    <td class="td_cell">Изделие</td>
                    <td class="td_cell">Статус заявки</td>
                </tr>
                {% for line in td_queries %}
                <tr class="table_row">
                    {% for el in line.values %}
                    <td class="td_cell">{{ el }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>Заявки на КД отсутствуют отсутствуют</p>
            {% endif %}
        </div>
        <br />
        <a href="{% url 'home' %}">Назад</a> <br />
        <script src="{% static 'tehnolog/js/tehnolog.js' %}"></script>
        <div style="height: 150px"></div>
    </body>
</html>
