{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Рабочее место технолога</title>
        <link type="text/css" href="{% static 'scheduler/css/scheduler.css' %}" rel="stylesheet" />
    </head>
    <body>
        {% if request.user.is_authenticated %}
        <div class="logined_user">{{ user.username }} | <a href="{% url 'logout' %}"> Выйти </a></div>
        <a href="{% url 'instruction' %}" class="red_word">Инструкция</a> <br />
        {% else %} <a href="{% url 'login' %}"> Войти </a>
        {%endif %}
        <h1>Рабочее место технолога</h1>
        <script>
            function showNotification({ top = 0, right = 0, html }) {
                let notification = document.createElement("div");
                notification.className = "notification";
                notification.innerHTML = html;
                document.body.append(notification);
                setTimeout(() => (notification.style.opacity = 0), 10000);
                //setTimeout(() => notification.remove(), 10000);
            }
        </script>
        {% if 'Ошибка' in alert %}
        <script>
            showNotification({
                html: "<p class='alert_gone' style='color:red';> {{ alert }} </p>",
            });
        </script>
        {% else %}
        <script>
            showNotification({
                html: "<p class='alert_gone'> {{ alert }} </p>",
            });
        </script>
        {% endif %}

        <div class="table_div">
            <h3>Заявки на документацию</h3>
            <form method="get" id="form2">
                <p>
                    <input
                        type="button"
                        onclick="window.location.href = '{{ request.path }}';"
                        value="Сбросить фильтр"
                    />
                </p>
                <table title="Заявки на документацию" class="table">
                    <tr class="table_header_row">
                        <td class="td_cell">{{ filter.form.model_order_query }} Заказ-модель</td>
                        <td class="td_cell">{{ filter.form.query_prior }} Приоритет</td>
                        <td class="td_cell">{{ filter.form.td_status }} Статус завяки</td>
                        <td class="td_cell">Папка чертежей</td>
                    </tr>
                    {% for line in filter.qs %}
                    <tr class="table_row">
                        <td class="td_cell">{{ line.model_order_query }}</td>
                        <td class="td_cell">{{ line.query_prior }}</td>
                        <td class="td_cell">{{ line.td_status }}</td>
                        <td class="td_cell">
                            <p>\\SVR-003\draws\{{ line.model_order_query }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </form>
        </div>
        <div class="form_div" id="correction_form">
            <h3>Форма корректировки заказ-модель</h3>
            <form action="{% url 'new_model_query' %}" method="post" enctype="multipart/form-data" class="form_form">
                {% csrf_token %}
                <div class="add_to_plan">
                    <div class="form-error">{{ change_model_query_form.non_field_errors }}</div>

                    {% for each_form in change_model_query_form %}

                    <div class="form_inner_label">
                        <label for="{{ each_form.id_for_label }}">{{each_form.label}}: </label>
                    </div>
                    <div class="form_inner_div">{{ each_form }}</div>

                    <div class="form-error">{{ each_form.errors }}</div>
                    {% endfor %}
                </div>
                <button type="submit" class="form_button">переименовать</button>
            </form>
        </div>

        <div class="form_div" id="send_draw_back_form">
            <h3>Форма возварата КД на доработку</h3>
            <form action="{% url 'send_draw_back' %}" method="post" enctype="multipart/form-data" class="form_form">
                {% csrf_token %}
                <div class="add_to_plan">
                    <div class="form-error">{{ send_draw_back_form.non_field_errors }}</div>

                    {% for each_form in send_draw_back_form %}

                    <div class="form_inner_label" style="vertical-align: middle">
                        <label for="{{ each_form.id_for_label }}">{{each_form.label}}: </label>
                    </div>
                    <div class="form_inner_div">{{ each_form }}</div>

                    <div class="form-error">{{ each_form.errors }}</div>
                    {% endfor %}
                </div>
                <button type="submit" class="form_button"><p class="red_word">Отправить</p></button>
            </form>
        </div>

        <div class="form_div">
            <h3>Форма для загрузки технологических данных</h3>
            <form action="{% url 'tehnolog' %}" method="post" enctype="multipart/form-data" class="form_form">
                {% csrf_token %}
                <div class="add_to_plan">
                    <div class="form-error">{{ get_teh_data_form.non_field_errors }}</div>

                    {% for each_form in get_teh_data_form %}

                    <div class="form_inner_label">
                        <label for="{{ each_form.id_for_label }}">{{each_form.label}}: </label>
                    </div>
                    <div class="form_inner_div">{{ each_form }}</div>

                    <div class="form-error">{{ each_form.errors }}</div>
                    {% endfor %}
                </div>
                <button type="submit" class="form_button"><p class="green_word">Добавить</p></button>
            </form>
        </div>
        <!-- prettier-ignore -->
        <br />
        <!-- prettier-ignore -->
        {% if user.username == 'admin' %}
        <a href="{% url 'home' %}">Назад</a> <br />
        {%endif %}
        <script src="{% static 'tehnolog/js/tehnolog.js' %}"></script>

        <button class="hide_button" id="show_form">
            <p>переименовать заказ-модель</p>
        </button>

        <script>
            const correction_form = document.getElementById("correction_form");
            const button = document.getElementById("show_form");
            correction_form.style.display = "none";
            button.onclick = showForm;

            function showForm() {
                correction_form.style.display = "block";
            }
            // скрытие отправленных
        </script>
        <script>
            function onChange() {
                document.getElementById("form2").submit();
            }
        </script>
        <div style="height: 150px"></div>
    </body>
</html>
