{% extends 'base.html' %}
{% load static %}

{% block title %}
Для работы необходима авторизация
{% endblock %}

{% block body %}

        <form method="POST" class="form_form">
            {% csrf_token %}
            <div class="add_to_plan">
                <h1>Вход пользователя</h1>
                <div class="form-error">{{ form.non_field_errors }}</div>
                <div class="form_inner_label">{{ form.username.label }}</div>
                <div class="form_inner_div">{{ form.username }}</div>
                <div class="form_inner_label">{{ form.password.label }}</div>
                <div class="form_inner_div">{{ form.password }}</div>
                <br>
                <button class="btn" type="submit">Войти</button>
            </div>
        </form>
{% endblock %}
