{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Рабочее место планировщика</title>
        <link type="text/css" href="{% static 'scheduler/css/scheduler.css' %}" rel="stylesheet" />
    </head>
    <body>
        <h1>Рабочее место планировщика</h1>
        {% if request.user.is_authenticated %}
        <div class="logined_user">{{ user.username }} | <a href="{% url 'logout' %}"> Выйти </a></div>
        {% else %} <a href="{% url 'login' %}"> Войти </a>
        {%endif %}
        <!--График цеха-->
        {% if workshop_schedule %}
        <div class="row">
            <div class="col">
                <h3 class="table_h3">График производства</h3>
                <table title="График цехов" class="table">
                    <tr class="table_header_row">
                        <td class="td_cell">Цех</td>
                        <td class="td_cell">Заказ</td>
                        <td class="td_cell">Изделие</td>
                        <td class="td_cell">Дата готовности</td>
                        <td class="td_cell">Статус заказа</td>
                        <td class="td_cell">% готовности</td>
                    </tr>
                    {% for line in workshop_schedule %}
                    <tr class="table_row">
                        {% for el in line.values %}
                        <td class="td_cell">{{ el }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p>Данные для отображения отсутствуют</p>
                {% endif %}
            </div>
            <div class="col">
                <!-- prettier-ignore -->
                {% if td_queries %}
                <h3 class="table_h3">Заявки на документацию</h3>
                <table class="table" title="Заявки на документацию">
                    <tr class="table_header_row">
                        <td class="td_cell">Заказ-модель</td>
                        <td class="td_cell">Приоритет</td>
                        <td class="td_cell">Статус завяки</td>
                    </tr>
                    {% for line in td_queries %}
                    <tr class="table_row">
                        {% for el in line.values %}
                        <td class="td_cell">{{ el }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p>Данные для отображения отсутствуют</p>
                {% endif %}
            </div>
        </div>
        <script>
            function showNotification({ top = 0, right = 0, html }) {
                let notification = document.createElement("div");
                notification.className = "notification";
                notification.innerHTML = html;
                document.body.append(notification);
                setTimeout(() => (notification.style.opacity = 0), 10000);
                //setTimeout(() => notification.remove(), 10000);
            }
            showNotification({
                html: "<p class='alert_gone'> {{ alert }} </p>",
            });
        </script>
        <br />
        <div class="form_div">
            <h3>Форма для запроса КД</h3>

            <form class="form_form" action="{% url 'td_query' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="td_query_block">
                    <div class="form_inner_label">{{ form_query_draw.order_query.label }}</div>
                    <div class="form_inner_div">{{ form_query_draw.order_query }}</div>

                    <div class="form_inner_label">{{ form_query_draw.model_query.label }}</div>
                    <div class="form_inner_div">{{ form_query_draw.model_query }}</div>

                    <div class="form_inner_label">{{ form_query_draw.query_prior.label }}</div>
                    <div class="form_inner_div">{{ form_query_draw.query_prior }}</div>
                    <div>
                        <button type="submit" class="form_button">
                            <p class="red_word">Запросить чертеж</p>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <br />
        <!--форма планирования цеха-->
        <div class="form_div">
            <h3>Форма для планирования</h3>

            <form class="form_form" action="{% url 'scheduler' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-error">{{ form_workshop_plan.non_field_errors }}</div>

                <div class="add_to_plan">
                    <div class="form_inner_label">{{ form_workshop_plan.model_order_query.label }}</div>
                    <div class="form_inner_div">{{ form_workshop_plan.model_order_query }}</div>

                    <div class="form_inner_label">{{ form_workshop_plan.workshop.label }}</div>
                    <div class="form_inner_div">{{ form_workshop_plan.workshop }}</div>
                    <br />
                    <div class="form_inner_label">{{ form_workshop_plan.category.label }}</div>
                    <div class="form_inner_div">{{ form_workshop_plan.category }}</div>
                    <br />

                    <div class="form_inner_label">{{ form_workshop_plan.datetime_done.label }}</div>
                    <div class="form_inner_div">{{ form_workshop_plan.datetime_done }}</div>
                    <div>
                        <button type="submit" class="form_button">
                            <p class="green_word">Запланировать</p>
                        </button>
                    </div>
                </div>
                <div class="form_error">{{ form_workshop_plan.errors }}</div>
            </form>
        </div>
        <br />
        <a href="{% url 'home' %}">Назад</a> <br />
        <div style="height: 150px"></div>
        <script src="{% static 'scheduler/js/scheduler.js' %}"></script>
    </body>
</html>
