{% load static %}
<!DOCTYPE html>
<html lang="en" class="fullScreen">
    <head>
        <meta charset="UTF-8" />
        <title>Рабочее место планировщика</title>
        <link type="text/css" href="{% static 'scheduler/css/scheduler.css' %}" rel="stylesheet" />
    </head>
    <body>
        <h1>Рабочее место планировщика. ПЛАНИРОВАНИЕ.</h1>
        {% if request.user.is_authenticated %}
        <div class="legend">
            <div>
                <p>Пользователь: {{ user.username }} | <a href="{% url 'logout' %}" class="legend_link"> Выйти </a></p>
                <p><a href="{% url 'instruction' %}">Инструкция</a></p>
                <p>Папка с чертежами: \\SVR-003\draws</p>
            </div>
        </div>
        {% else %}
        <a href="{% url 'login' %}"> Войти </a>
        <!-- prettier-ignore -->
        {%endif %} 
        {% if alert %}
        <script>
            function showNotification({ top = 0, right = 0, html, class_name }) {
                let notification = document.createElement("div");
                notification.className = class_name;
                notification.innerHTML = html;
                document.body.append(notification);
                // setTimeout(() => (notification.style.opacity = 0), 10000);
                setTimeout(() => notification.remove(), 10000);
            }
            showNotification({
                html: "<p class='alert_gone'> {{ alert }} </p>",
                class_name: "notification",
            });
        </script>
        {%endif %}
        <!-- Кнопка заказать КД -->
        <button class="id_make_order_query_btn btn" value="" title="Заказать КД">Заказать КД</button>
        <br />
        <!-- Основная таблица интерфейса -->
        <!--Заявки КД-->
        <div class="col scheduler">
            <h3 class="table_h3">Заявки на документацию</h3>
            <p>
                <input type="button" onclick="window.location.href = '{{ request.path }}';" value="Сбросить фильтр" />
            </p>
            <table class="table" title="Заявки на документацию">
                <form method="get" id="filter_form2">
                    <tr class="table_header_row">
                        <td class="td_cell">{{ filter_q.form.model_order_query }} Заказ-модель</td>
                        <td class="td_cell">{{ filter_q.form.query_prior }}Приоритет</td>
                        <td class="td_cell">{{ filter_q.form.td_status }}Статус завяки</td>
                        <td class="td_cell">Действие</td>
                    </tr>
                </form>
                {% for line in filter_q.qs %}
                {% if not line.sz %}
                <tr class="table_row">
                    <td class="td_cell">{{ line.model_order_query }}</td>
                    <td class="td_cell">{{ line.query_prior }}</td>
                    <td class="td_cell">{{ line.td_status }}</td>
                    <td class="td_cell">
                        <!-- prettier-ignore -->
                        {% if line.td_status == "утверждено" and line.order_status != "в работе" and line.order_status != "запланировано" and line.order_status != "завершено" %}
                        <button
                            class="id_plan_workshop_btn btn"
                            value="{{ line.model_order_query }}"
                            title="Запланировать"
                        >
                            Запланировать
                        </button>
                        {% endif%}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
        <!--Заявки на распределение-->
        <div class="col" scheduler>
            <h3 class="table_h3">Заявки на распределение</h3>
            <p>
                <input type="button" onclick="window.location.href = '{{ request.path }}';" value="Сбросить фильтр" />
            </p>
            <table title="Перечеь заявок" class="table">
                <form method="get" id="filter_form1">
                    <tr class="table_header_row">
                        <td class="td_cell">{{ filter_w.form.workshop }}№ служебной</td>
                        <td class="td_cell">{{ filter_w.form.order }} Заказчик</td>
                        <td class="td_cell">{{ filter_w.form.model_name }} Изделие</td>
                        <td class="td_cell">{{ filter_w.form.datetime_done }} Дата потребности</td>
                        <td class="td_cell">{{ filter_w.form.datetime_done }} Статус</td>
                        <td class="td_cell">Действие</td>
                    </tr>
                </form>
                {% for query in td_queries %}
                    {% if query.sz %}
                        <tr class="table_row">
                            <td class="td_cell">{{ query.sz.sz_number }}</td>
                            <td class="td_cell">{{ query.sz.author }}</td>
                            <td class="td_cell">{{ query.sz.product_name }}</td>
                            <td class="td_cell">{{ query.sz.need_date }}</td>
                            <td class="td_cell">{{ query.td_status }}</td>
                            <td class="td_cell">
                                <button class="id_plan_bid_btn btn" value="" data-order-model="{{ query.model_order_query }}" title="Запланировать">Запланировать</button>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
        <!-- Форма запроса КД -->
        <div class="modal" id="order_model">
            <form
                class="form_form modal-content"
                id="if_order_model_form"
                action="{% url 'td_query' %}"
                method="post"
                enctype="multipart/form-data"
            >
                {% csrf_token %}
                <div class="add_to_plan">
                    <h3>Форма для запроса КД</h3>
                    <div class="form_inner_label">{{ form_query_draw.order_query.label }}</div>
                    <div class="form_inner_div">{{ form_query_draw.order_query }}</div>

                    <div class="form_inner_label">{{ form_query_draw.model_query.label }}</div>
                    <div class="form_inner_div">{{ form_query_draw.model_query }}</div>

                    <div class="form_inner_label">{{ form_query_draw.query_prior.label }}</div>
                    <div class="form_inner_div">{{ form_query_draw.query_prior }}</div>
                    <div>
                        <button type="submit" class="form_button">
                            <p class="red_word">Запросить чертеж</p>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!--форма планирования по утверждённому КД-->
        <div id="plan_workshop" class="modal">
            <form
                id="id_plan_workshop_form"
                action="{% url 'scheduler' %}"
                method="post"
                enctype="multipart/form-data"
                class="form_form modal-content"
            >
                {% csrf_token %}
                <div class="add_to_plan">
                    <h3>Форма для планирования</h3>
                    <div class="form_inner_label">{{ form_workshop_plan.model_order_query.label }}</div>
                    <div class="form_inner_div">{{ form_workshop_plan.model_order_query }}</div>
                    <br />
                    <div class="form_inner_label">{{ form_workshop_plan.workshop.label }}</div>
                    <div class="form_inner_div">{{ form_workshop_plan.workshop }}</div>
                    <br />
                    <div class="form_inner_label">{{ form_workshop_plan.category.label }}</div>
                    <div class="form_inner_div">{{ form_workshop_plan.category }}</div>
                    <br />
                    <div class="form_inner_label">{{ form_workshop_plan.datetime_done.label }}</div>
                    <div class="form_inner_div">{{ form_workshop_plan.datetime_done }}</div>
                    <div>
                        <button type="submit" class="form_button">
                            <p class="green_word">Запланировать</p>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!--форма планирования по служебной с составом-->
        <div id="plan_bid" class="modal">
            <form
                id="id_plan_bid_form"
                action="{% url 'scheduler' %}"
                method="post"
                enctype="multipart/form-data"
                class="form_form modal-content"
            >
                <div class="add_to_plan">
                    <h3>Форма для планирования служебной записки</h3>
                    <div class="form_inner_div">{{ form_plan_bid.sz_order_model_query }}</div>
                    <div class="form_inner_label">{{ form_plan_bid.order_query.label }}</div>
                    <div class="form_inner_div">{{ form_plan_bid.order_query }}</div>
                    <br />
                    <div class="form_inner_label">{{ form_plan_bid.model_query.label }}</div>
                    <div class="form_inner_div">{{ form_plan_bid.model_query }}</div>
                    <br />
                    <div class="form_inner_label">{{ form_plan_bid.workshop.label }}</div>
                    <div class="form_inner_div">{{ form_plan_bid.workshop }}</div>
                    <br />
                    <div class="form_inner_label">{{ form_plan_bid.category.label }}</div>
                    <div class="form_inner_div">{{ form_plan_bid.category }}</div>
                    <br />
                    <div class="form_inner_label">{{ form_plan_bid.datetime_done.label }}</div>
                    <div class="form_inner_div">{{ form_plan_bid.datetime_done }}</div>
                    <br />
                    <div class="form_inner_label">Распределение изготовления заготовки:</div>                      
                    <div class="scroll_div_back" id="id_sz_st"></div>
                    <div>
                        <button class="form_button" onclick="tableDataToJSON('id_table', 'http://127.0.0.1:8000/scheduler/create_st/')">
                            <p class="green_word">Запланировать</p>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <script>
            // кнопки планирования Служебки
            document.addEventListener("DOMContentLoaded", function () {
                // При загрузке документа
                // const sel = id_plan_bid_form.elements.model_order_query; // Получаем все селекты
                const buttons = document.querySelectorAll(".id_plan_bid_btn"); // Получаем кнопки с классом
                buttons.forEach(function (c) {
                    // Для каждой кнопки
                    c.onclick = function () {
                        // Слушаем нажатие
                        // Если нажата, то выбирает тот option, который в тексте кнопки.
                        const modal = document.querySelector("#plan_bid");
                        modal.style.display = "block";
                        renderSzShiftTasks(c.dataset.orderModel)
                        // for (var n = 0; n < sel.length; n++) {
                        //     if (sel.options[n].text == c.value) sel.options[n].selected = true;
                        // }
                        window.onclick = function (event) {
                            if (event.target == modal) {
                                modal.style.display = "none";
                            }
                        };
                    };
                });
            });

            function renderSzShiftTasks (orderModel) {
                console.log(orderModel)
                var szShiftTasksDiv = document.getElementById("id_sz_st")
                var html = `
                    <table title="Сменные задания" class="table">   
                            <tr class="table_header_row">
                                <td class="td_cell" style="width:257px;">Наименование</td>
                                <td class="td_cell" style="width:375px;">Материал</td>
                                <td class="td_cell" style="width:75px;">Длина</td>
                                <td class="td_cell" style="width:140px;">Количество</td>
                                <td class="td_cell" style="width:120px;">Цех</td>
                            </tr>
                    </table>
                    <div class="scroll_div">
                        <table title="Сменные задания" class="table">
                `
                {% for st in sz_st %}
                if (orderModel == "{{ st.model_order_query }}") {
                    html += `<tr class="table_row">
                        <td class="td_cell" style="width:257px;">{{ st.workpiece.name }}</td>
                        <td class="td_cell" style="width:375px;">{{ st.workpiece.material }}</td>
                        <td class="td_cell" style="width:75px;">{{ st.workpiece.length }}</td>
                        <td class="td_cell" style="width:140px;">{{ st.workpiece.count }}</td>
                        <td class="td_cell" style="width:120px;">
                            <select name="select">
                    `
                    
                    var pipe_dia ="{{ st.workpiece.material }}".search(/.*Труба[\s]*([\d]{3})[\D]+.*/)
                    if (pipe_dia != -1) {
                        pipe_dia = parseInt("{{ st.workpiece.material }}".match(/.*Труба[\s]*([\d]{3})[\D]+.*/)[1])
                    }
                       
                    if (("{{ st.workpiece.material }}".search(/.*Лист.*/) != -1) || (pipe_dia != -1) && (pipe_dia>=219 && pipe_dia <= 426)) {
                        html += `
                        <option value="3">Цех 3</option>
                        <option value="10" selected>Плазма</option>
                        `
                    } else {
                        html +=`
                        <option value="3" selected>Цех 3</option>
                        <option value="10">Плазма</option>
                        `
                    }
                    
                    html += `</select></td></tr>`
                }
                {% endfor %}
                html += `</table></div>`
                var szOrderModel = document.getElementById("id_sz_order_model_query")
                szOrderModel.value = orderModel
                console.log(szOrderModel.value)
                szShiftTasksDiv.innerHTML = html
            }

            async function postData(url = '', data = {}) {
                const csrfToken = '{{ csrf_token }}';
                const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken,
                },
                body: JSON.stringify(data)
                });
                return await response.json();
            }

            function tableDataToJSON(tableID, url) {
                var table = document.getElementById(tableID)

                const rowsCount = table.rows.length
                var products = []
                for (let i = 2; i < rowsCount; i++) {
                        let draw = getCellText(table, i, 0)
                        let name = getCellText(table, i, 1)
                        if (draw != "Выберите чертеж" && draw != "Все чертежи" && name != "Выберите изделие по наименованию") {
                            var text = ""
                            text += name + " " + getCellText(table, i, 2)
                            let length = getCellText(table, i, 4)
                            let count = getCellText(table, i, 3)
                            if (length != "") {
                                text += " L=" + length
                            }
                            if (count != "") {
                                text += " (" + count + " шт.)"
                            }
                            products.push({
                                draw: draw,
                                name: getCellText(table, i, 1),
                                material: getCellText(table, i, 2),
                                length: getCellText(table, i, 4),
                                count: getCellText(table, i, 3),
                                text: text
                            })
                        }
                }
                var data = {
                    sz: {
                        sz_number: document.getElementById("id_sz_number").value,
                        product_name: document.getElementById("id_product_name").value,
                        sz_text: document.getElementById("id_sz_text").value,
                        need_date: document.getElementById("id_need_date").value,
                        author: '{{ request.user }}'
                    },
                    products: products
                }
                
                postData(url, data).then((data) => {
                    if (data['STATUS'] == 'OK') {
                        console.log("OK")
                        alert("Заявка успешно создана!")
                        localStorage.clear();
                        window.location.href='{% url "specification" %}';
                    } else {
                        console.log("не OK")
                    }
                  });
            }

            // Кнопка планирования КД
            document.addEventListener("DOMContentLoaded", function () {
                // При загрузке документа
                const sel = id_plan_workshop_form.elements.model_order_query; // Получаем все селекты
                const buttons = document.querySelectorAll(".id_plan_workshop_btn"); // Получаем кнопки с классом
                buttons.forEach(function (c) {
                    // Для каждой кнопки
                    c.onclick = function () {
                        // Слушаем нажатие
                        // Если нажата, то выбирает тот option, который в тексте кнопки.
                        const modal = document.querySelector("#plan_workshop");
                        modal.style.display = "block";
                        for (var n = 0; n < sel.length; n++) {
                            if (sel.options[n].text == c.value) sel.options[n].selected = true;
                        }
                        window.onclick = function (event) {
                            if (event.target == modal) {
                                modal.style.display = "none";
                            }
                        };
                    };
                });

                // Кнопка заказать КД
                const button_query = document.querySelectorAll(".id_make_order_query_btn"); // Получаем кнопки с классом
                button_query.forEach(function (c) {
                    // Для каждой кнопки
                    c.onclick = function () {
                        // Слушаем нажатие
                        const modal_query = document.querySelector("#order_model");
                        modal_query.style.display = "block";
                        window.onclick = function (event) {
                            if (event.target == modal_query) {
                                modal_query.style.display = "none";
                            }
                        };
                    };
                });
            });
        </script>
        <br />
        <a href="{% url 'schedulerwp' %}">Распределение</a> <br />
        <div style="height: 150px"></div>

        <script src="{% static 'scheduler/js/scheduler.js' %}"></script>
        <script>
            function onChange1() {
                document.getElementById("filter_form1").submit();
            }
            function onChange2() {
                document.getElementById("filter_form2").submit();
            }
        </script>
    </body>
</html>
