{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Рабочее место планировщика рабочих центров</title>
        <link type="text/css" href="{% static 'scheduler/css/scheduler.css' %}" rel="stylesheet" />
    </head>

    <body>
        {% if request.user.is_authenticated %}
        <div class="logined_user">{{ user.username }} | <a href="{% url 'logout' %}"> Выйти </a></div>
        <a href="{% url 'instruction' %}" class="red_word">Инструкция</a>
        <a href="{% url 'scheme' %}" class="red_word">Планировка</a> <br />
        {% else %} <a href="{% url 'login' %}"> Войти </a>
        {%endif %}
        <!-- prettier-ignore -->
        {% if user.username == 'admin' %}
        <a href="{% url 'home' %}">Назад</a> <br />
        {%endif %}
        <h1>Рабочее место планировщика рабочих центров</h1>
        <br />

        <!--форма планирования РЦ-->
        <form action="{% url 'schedulerwp' %}" method="post" enctype="multipart/form-data" class="form_form">
            {% csrf_token %}
            <div class="form-error">{{ form_workplace_plan.non_field_errors }}</div>

            <div class="form_inner_label"><label>Терминал: </label></div>
            <div class="form_inner_div">{{ form_workplace_plan.ws_number }}</div>

            <div class="form_inner_label"><label>Дата готовности: </label></div>
            <div class="form_inner_div">{{ form_workplace_plan.datetime_done }}</div>

            <div class="form-error">{{ form_workplace_plan.errors }}</div>

            <button class="form_button" type="submit">Выбрать</button>
        </form>
        {% if workplace_schedule %}
        <p class="alert">{{ alert_message }}</p>
        <table title="График рабочих центров" class="table">
            <tr class="table_header_row">
                <td class="td_cell">№СЗ</td>
                <td class="td_cell">Цех</td>
                <td class="td_cell">Заказ</td>
                <td class="td_cell">Изделие</td>
                <td class="td_cell">Дата готовности</td>
                <td class="td_cell">Номер РЦ</td>
                <td class="td_cell">Номер операции</td>
                <td class="td_cell">Операция</td>
                <td class="td_cell">Норма времени</td>
                <td class="td_cell">Фио исполнителя</td>
                <td class="td_cell">Статус СЗ</td>
            </tr>

            {% for line in workplace_schedule %}
            <tr class="table_row">
                {% for el in line.values %}
                <td class="td_cell">{{ el }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <!-- prettier-ignore -->
        {% if user.username == 'admin' %}
        <a href="{% url 'home' %}">Назад</a> <br />
        {%endif %}
        <script src="{% static 'scheduler/js/schedulerwp.js' %}"></script>
    </body>
</html>
