{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Рабочее место планировщика рабочих центров</title>
        <link type="text/css" href="{% static 'scheduler/css/scheduler.css' %}" rel="stylesheet" />
    </head>

    <body>
        {% if request.user.is_authenticated %}
        <div class="legend">
            <div>
                <p>Пользователь: {{ user.username }} | <a href="{% url 'logout' %}" class="legend_link"> Выйти </a></p>
                <p><a href="{% url 'instruction' %}">Инструкция</a></p>
                <p>Папка с чертежами: \\SVR-003\draws</p>
                <p><a href="{% url 'report' %}" class="legend_link"> Заполнение отчётов</a></p>
            </div>
        </div>
        {% else %}
        <a href="{% url 'login' %}"> Войти </a>
        <!-- prettier-ignore -->
        {%endif %}
        <!-- prettier-ignore -->
        {% if user.username == 'admin' %}
        <a href="{% url 'home' %}">Назад</a> <br />
        {%endif %}
        <h1>Рабочее место планировщика рабочих центров</h1>
        <br />

        <!--форма планирования РЦ-->
        <form action="{% url 'schedulerwp' %}" method="post" enctype="multipart/form-data" class="form_form">
            {% csrf_token %}
            <div class="form-error">{{ form_workplace_plan.non_field_errors }}</div>

            <div class="form_inner_label"><label>Терминал: </label></div>
            <div class="form_inner_div">{{ form_workplace_plan.ws_number }}</div>

            <div class="form_inner_label"><label>Дата готовности: </label></div>
            <div class="form_inner_div">{{ form_workplace_plan.datetime_done }}</div>

            <div class="form-error">{{ form_workplace_plan.errors }}</div>

            <button class="form_button" type="submit">Выбрать</button>
        </form>
        {% if workplace_schedule %} {% if alert_message != '' %}
        <p class="alert">{{ alert_message }}</p>
        {% endif %}
        <!-- <form method="get" id="form2">
            <p>
                <input type="button" onclick="window.location.href = '{{ request.path }}';" value="Сбросить фильтр" />
            </p>
            <table title="График рабочих центров" class="table">
                <tr class="table_header_row">
                    <td class="td_cell">{{ filter.form.id }} №СЗ</td>
                    <td class="td_cell">{{ filter.form.workshop }} Цех</td>
                    <td class="td_cell">{{ filter.form.order }} Заказ</td>
                    <td class="td_cell">{{ filter.form.model_name }} Изделие</td>
                    <td class="td_cell">{{ filter.form.datetime_done }} Дата готовности</td>
                    <td class="td_cell">{{ filter.form.ws_number }} Номер РЦ</td>
                    <td class="td_cell">{{ filter.form.op_number }} Номер операции</td>
                    <td class="td_cell">{{ filter.form.op_name_full }} Операция</td>
                    <td class="td_cell">{{ filter.form.norm_tech }} Норма времени</td>
                    <td class="td_cell">{{ filter.form.fio_doer }} Фио исполнителя</td>
                    <td class="td_cell">{{ filter.form.st_status }} Статус СЗ</td>
                </tr>

                {% for line in filter.qs %}
                <tr class="table_row">
                    {% for el in line.values %}
                    <td class="td_cell">{{ el }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </form> -->
        {% endif %}
        <!-- prettier-ignore -->
        {% if user.username == 'admin' %}
        <a href="{% url 'home' %}">Назад</a> <br />
        {%endif %}
        <script>
            function onChange() {
                document.getElementById("form2").submit();
            }
        </script>
        <div style="height: 150px"></div>
        <script src="{% static 'scheduler/js/schedulerwp.js' %}"></script>
    </body>
</html>
