{% extends "orders/testrep_base.html" %} {% load static %} {% block title %}
Заявки на ремонт {%endblock %} {% block content %} {{block.super}}
<div class="col">
  <h1>Редактировать карточку оборудования "{{object.name}}"</h1>

  <form method="post">
      <div class="form_row">
      <button class="narrow_button" onclick="window.location.href = `{% url 'equipment' %}`;" type="button">Назад</button>
      <input type="submit" value="Отредактировать" />
    </div>
    {% csrf_token %}
    <div class="equipment_card">
      {% for field in form %}
      <div class="card_row">
        <label class="equipment_card__label">{{field.label}}</label>
        {{field}}
      </div>
      {% endfor %}
    </div>
  </form>
</div>
{% endblock content %} {% block js %} {{block.super }} {% endblock js%}
