{% extends "orders/testrep_base.html" %} 
{% load static %} 
{% block title %}
  Заявки на ремонт 
{%endblock %} 
{% block content %} 
  {{block.super}}
  <div class="col">
    <h1>Архив заявок</h1>
    <div class="form_row">
      <form action="{% url 'orders'%}" method="GET">
          <input type="submit" class="input_like" value="Таблица заявок" />
      </form>
    </div>

    <table class="table">
        <thead>
            <tr class="table_header_row"><br>
              <th class="td_cell">№ заявки
                <div class="sort-filter">
                  <input type="text" style="max-width:40px;" >
              </div>
              </th>
              <th class="td_cell">ППР<br>
                <div class="sort-filter">
                  <input type="text" style="max-width:40px;" >
              </div>
              <th class="td_cell">Оборудование<br>
                <div class="sort-filter">
                  <input type="text" style="max-width:120px;" >
              </div>
              </th>
              <th class="td_cell">Дата поломки<br>
                <div class="sort-filter">
                  <input type="text" style="max-width:120px;" >
              </div>

              </th>
              <th class="td_cell">Дата окончания ремонта<br>
                <div class="sort-filter">
                  <input type="text" style="max-width:120px;" >
              </div>

              </th>
              <th class="td_cell">Результат<br>
                <div class="sort-filter">
                  <input type="text" style="max-width:120px;" >
              </div>

              </th>
              <th class="td_cell">Описание поломки<br>
                <div class="sort-filter">
                  <input type="text" style="max-width:120px;" >
              </div>

              </th>
              <th class="td_cell">Причина поломки<br>
                <div class="sort-filter">
                  <input type="text" style="max-width:120px;" >
              </div>

              </th>
              <th class="td_cell">Способ устранения<br>
                <div class="sort-filter">
                  <input type="text" style="max-width:120px;" >
              </div>

              </th>
            </tr>
      
        </thead>
        {% for rec in object_list%}
          <tr class="table_row">
            <td class="td_cell">
              <a href="{% url 'order_info' rec.id %}" class="table_link">
                {{rec.id}}
              </a>
            </td>
            <td class="td_cell ppr_cell" data-ppr="{% if rec.is_ppr%}1{%else%}0{%endif%}">
              {% if rec.is_ppr %}
              да
              {% else %}
              нет
              {% endif %}
            </td>           
            <td class="td_cell" style="max-width:450px; word-break:break-word;">
              <a href="{% url 'repair_history' rec.equipment_id %}" class="table_link">
                {{rec.equipment}}
              </a>
            </td>
            <td class="td_cell">{{rec.breakdown_date|default:""}}</td>
            <td class="td_cell">{{rec.acceptance_date|default:""}}</td>            
            <td class="td_cell">{{rec.status}}</td>
            <td class="td_cell">{{rec.breakdown_description|default:""}}</td>
            <td class="td_cell">{{rec.breakdown_cause|default:""}}</td>
            <td class="td_cell">{{rec.solution|default:""}}</td>
          </tr>
      
    
        {% endfor %}
      </table>




    
    
  </div>
{% endblock content %} 

{% block js %} 
  {{block.super }}
  <script src="{% static 'orders/js/multifield_filter.js' %}"></script>
  <script src="{% static 'orders/js/PPR_highlight.js' %}"></script>
{% endblock js%}
