{% extends "orders/testrep_base.html" %} 
{% load static %} 
{%block content%}
{{block.super}}
<div class="col">
    <h1>Справочные материалы</h1>
    
    <div class="form_row">  
      <form action="{% url 'ppr_calendar' %}">
        <button type="submit" class="btn">График ППР</button>
      </form>
      <form action="{% url 'convert_excel' %}">
        <button type="submit" class="btn">Добавить материалы</button>
      </form>   
    </div>


    <div class="equipment_card">
        {% for item in object_list %}
            <div class="card_row">
                <a
                href="{% url 'show_reference' item.pk %}"
                class="table_link">
                {{item.filename}} /  {{item.sheetname}}
                </a>
                <div class="equipment_card__spacer"></div>
                <form action="{% url "reference_delete" item.pk %}" method="get">
                    <button type="submit" class="btn" name="delete_reference" value={{item.pk}}>удалить</button>
                </form>
            </div>
        {% endfor %}
    </div>
</div>
{%endblock content%}