{% extends "base.html" %} 
{% load static %} 
{% block body %}
  <div class="content">
    <div class="content_window">
      {% if alerts %}
        <div id="id_alert">
          {%for a in alerts%}
            <div class="alert"> {{ a }}</div>
          {%endfor%}
        </div>
        <script>
          const notification = document.getElementById("id_alert");
          setTimeout(() => notification.remove(), 5000);
        </script>
      {% endif %} 
      {% block content %} 
      {% endblock content %}
    </div>
  </div>
  {% block js%} 
  {% endblock js%} 
{% endblock body %}
