{% extends 'base.html' %}
{% load static %}

{% block title %}
Терминал РЦ {{ ws_number }}
{% endblock %}

{% block body %}
        {% block menu %}
        {% endblock %}
        <h1 style="font-size: 50px">Терминал {{ ws_number }}</h1>
        {% if alert %}
            <p class='terminal_alert' id="terminal_alert"> {{ alert }} </p>
            <script>
                const notification = document.getElementById("terminal_alert");
                setTimeout(() => notification.remove(), 10000)
            </script>
        {% endif %}
        {% if initial_shift_tasks %}
        <table class="table" title="График цехов" id="main_table">
            <tr class="table_header_row">
                <td class="td_cell"><p class="cell_text">№</p></td>
                <td class="td_cell"><p class="cell_text">РЦ</p></td>
                <td class="td_cell"><p class="cell_text">Изделие</p></td>
                <td class="td_cell"><p class="cell_text">Заказ</p></td>
                <td class="td_cell"><p class="cell_text">Номер операции</p></td>
                <td class="td_cell"><p class="cell_text">Операция</p></td>
                <td class="td_cell"><p class="cell_text">Трудоемкость</p></td>
                <td class="td_cell"><p class="cell_text" style="width: 200px">Исполнители</p></td>
                <td class="td_cell"><p class="cell_text">Статус</p></td>
                <td class="td_cell"><p class="cell_text">Время начала работы</p></td>
                <td class="td_cell"><p class="cell_text">Время приемки</p></td>
            </tr>
            {% for line in initial_shift_tasks %}
            <tr id="row" class="table_row">
                {% for el in line.values %}
                <td class="td_cell"><p class="cell_text">{{ el }}</p></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Распределённые сменные задания на РЦ {{ ws_number }} отсутствуют.</p>
        {% endif %}
        <!-- prettier-ignore -->
        {% if initial_shift_tasks %} 
        {% endif %}

        <br /><br /><br />
        {% if select_shift_task %}
        <form action="{{ ws_number }}" method="POST" enctype="multipart/form-data" id="sel_1">
            {% csrf_token %}
            <label id="sel_2" class="form_inner_label"> Выбор сменного задания для запуска в работу: </label>
            <br />
            <select multiple id="sel_3" size="10" name="task_id">
                <option selected id="0" class="sel_option_0">Выберите сменное задание</option>
                {% for task in select_shift_task %}
                <option
                    id="{{ task.id }}"
                    data-send="{{ task.op_number }}--{{ task.model_name }}--{{ task.id }}"
                    class="sel_option"
                >
                    <!-- prettier-ignore -->
                    {{ task.id }}--{{ task.st_status }}--{{ task.fio_doer }}--{{ task.op_number }}--{{ task.model_name }}--{{ task.op_name_full }}
                </option>
                {% endfor %}
            </select>
            <br />

            <!-- <button id="submit_btn" type="submit">Начать работу</button> -->
        </form>
        {% endif %}
        <script>
            // перенаправление на страницу чертежей
            // элемент select
            const select_element = document.getElementById("sel_3");
            // элемент form выбора СЗ
            const form_element = document.getElementById("sel_1");
            // элемент кнопки формы выбора СЗ
            const btn_element = document.getElementById("submit_btn");
            document.addEventListener("keydown", function (event) {
                const ws_number = "{{ ws_number }}";
                // id выбранного option
                const st_id = select_element.options[select_element.selectedIndex].id;
                const tech_data = select_element.options[select_element.selectedIndex].dataset.send;
                //const op_number = select_element.options[select_element.selectedIndex].op_number;
                // кнопка выбрать чертёж
                if (event.ctrlKey) {
                    if (st_id != "0") {
                        const draw_link = `/worker/${ws_number}--${tech_data}`; // ссылка на страницу с чертежем
                        location.href = draw_link; // переход по ссылке
                    }
                    // кнопка вызов мастера
                } else if (event.code == "KeyK") {
                    master_call_link = `/worker/${ws_number}-${st_id}/get_master`;
                    location.href = master_call_link;
                    // кнопка вызов диспетчера
                } else if (event.code == "KeyX") {
                    dispatcher_call_link = `/worker/${ws_number}-${st_id}/get_dispatcher`;
                    location.href = dispatcher_call_link;
                }
                // кнопка запуск СЗ
                else if (event.code == "KeyC") {
                    form_element.submit();
                }
            });
        </script>
        <script src="{% static 'worker/js/listener.js' %}">
            // скрипт запуска меню выбора
        </script>
        <script src="{% static 'worker/js/worker.js' %}"></script>
        <div style="height: 90px"></div>
        <script></script>
        <br />
        <!-- prettier-ignore -->
        {% if user.username == 'admin' %}
        <a href="{% url 'worker_choose' %}">Назад</a> <br />
        {%endif %}
{% endblock %}
