{% extends 'base.html' %}
{% load static %}

{% block title %}
Терминал выбор РЦ
{% endblock %}

{% block body %}
        <h1>Терминал выбор РЦ</h1>
        <br />

        <!-- форма выбора РЦ-->
        <form action="{% url 'worker_choose' %}" method="post" enctype="multipart/form-data" class="form_form">
            {% csrf_token %}
            <div class="add_to_plan">
                <div class="form-error">{{ ws_number_form.non_field_errors }}</div>

                {% for each_form in ws_number_form %}
                <div class="form_inner_label"><label for="{{ each_form.id_for_label }}">{{each_form.label}}</label></div>
                <div class="form_inner_div">{{ each_form }}</div>
                <div class="form-error">{{ ws_number_form.errors }}</div>
                {% endfor %}
                <button type="submit" class="btn">Выбрать</button>
            </div>
        </form>
{% endblock %}
