{% extends 'base.html' %}
{% load static %}

{% block title %}
Распределение ФИО для РЦ
{% endblock %}

{% block body %}
        {% if request.user.is_authenticated %}
        <div class="legend">
            <div>
                <p>Пользователь: {{ user.username }} | <a href="{% url 'logout' %}" class="legend_link"> Выйти </a></p>
                <p><a href="{% url 'instruction' %}">Инструкция</a></p>
                <p>Папка с чертежами: \\SVR-003\draws</p>
            </div>
        </div>
        {% else %}
        <a href="{% url 'login' %}"> Войти </a>
        <!-- prettier-ignore -->
        {%endif %}
        <h1>
            <!-- prettier-ignore -->
            Распределение ФИО для Т{{ filtered_workplace_schedule.0.ws_number }} для модели {{ filtered_workplace_schedule.0.model_name }}
            <br />
            заказа {{ filtered_workplace_schedule.0.order }} на дату {{ filtered_workplace_schedule.0.datetime_done }}
        </h1>
        {% if alert_message != '' %}
        <script>
            function showNotification({ top = 0, right = 0, html, class_name }) {
                let notification = document.createElement("div");
                notification.className = class_name;
                notification.innerHTML = html;
                document.body.append(notification);
                setTimeout(() => notification.remove(), 10000);
            }
            showNotification({
                class_name: "notification",
                html: "<p class='alert_gone'> {{ alert_message }} </p>",
            });
        </script>
        {% endif %} {% if filtered_workplace_schedule %}

        <p class="alert">Сменные задания для распределения:</p>

        <p>
            <input type="button" onclick="window.location.href = '{{ request.path }}';" value="Сбросить фильтр" />
        </p>
        <table class="table" title="График рабочих центров">
            <form method="get" id="filter_form">
                <tr class="table_header_row">
                    <td class="td_cell">Действие</td>
                    <td class="td_cell">{{ filter.form.id }} №СЗ</td>
                    <td class="td_cell">Цех</td>
                    <td class="td_cell">{{ filter.form.order }} Заказ</td>
                    <td class="td_cell">{{ filter.form.model_name }} Изделие</td>
                    <td class="td_cell">{{ filter.form.datetime_done }} Дата готовности</td>
                    <td class="td_cell">Номер Т</td>
                    <td class="td_cell">{{ filter.form.op_number }} Номер операции</td>
                    <td class="td_cell">{{ filter.form.op_name_full }} Операция</td>
                    <td class="td_cell">Норма времени</td>
                    <td class="td_cell">{{ filter.form.fio_doer }} Фио исполнителя</td>
                    <td class="td_cell">{{ filter.form.st_status }} Статус СЗ</td>
                    <td class="td_cell">Деталь</td>
                    <td class="td_cell">Раскладка</td>
                    <td class="td_cell">Кол-во на раскладке</td>
                </tr>
            </form>
            {% for line in filter.qs %}
                {% if layout %}
                        {% for layout_done, counts in line.workpiece__layouts_done.items %}
                            {% if layout_done == layout %}
                                {% for count in counts %}
                                <tr class="table_row">
                                    <td class="td_cell"></td>
                                    {% for key, el in line.items %}
                                        {% if key == 'workpiece__layouts_done' %}
                                            <td class="td_cell">{{ layout_done }}</td>
                                            <td class="td_cell">{{ count }}</td>
                                        {% else %}
                                            <td class="td_cell">{% firstof el "-" %}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                {% else %}
                    {% if line.workpiece__layouts_done %}
                        {% for layout_done, counts in line.workpiece__layouts_done.items %}
                                {% for count in counts %}
                                <tr class="table_row">
                                    <td class="td_cell">
                                        <form method="post" id="id_distribute_btn_form">
                                            {% csrf_token %}
                                            <button class="id_plan_fio_btn btn" name="form" value="distribute||{{ layout_done }}" title="Распределить">Распределить</button>
                                        </form>
                                    </td>
                                    {% for key, el in line.items %}
                                        {% if key == 'workpiece__layouts_done' %}
                                            <td class="td_cell">{{ layout_done }}</td>
                                            <td class="td_cell">{{ count }}</td>
                                        {% else %}
                                            <td class="td_cell">{% firstof el "-" %}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                        {% endfor %}

                    {% else %}
                        <tr class="table_row">
                            <td class="td_cell">
                                {% if not pk %}
                                <form method="post" id="id_distribute_btn_form">
                                    {% csrf_token %}
                                    <button class="id_plan_fio_btn btn" name="form" value="distribute|{{ line.id }}|" title="Распределить">Распределить</button>
                                </form>
                                {% endif %}
                            </td>
                            {% for key, el in line.items %}
                                <td class="td_cell">{% firstof el "-" %}</td>
                            {% endfor %}
                                <td class="td_cell">-</td>
                        </tr>
                    {% endif %}
                
                {% endif %}

            {% endfor %}
            
        </table>

        {% else %}
        <p class="alert">Все сменные задания для РЦ распределены.</p>

        {% endif %}
        <!--форма выбора ФИО-->

        {% if filtered_workplace_schedule %}
        {% if action %}
        <!-- Форма распределения -->
        <div class="" id="plan_fio">
            <form
                id="id_plan_fio_form"
                action=""
                method="post"
                enctype="multipart/form-data"
                class="form_form"
            >
                {% csrf_token %}
                <div class="add_to_plan">
                    <p class="alert">Распределите сменные задания:</p>
                    <div class="form_inner_label">
                        <label class="form-label" for="{{ form_fio_doer.id_for_label }}"
                            >{{form_fio_doer.fio_1.label}}:
                        </label>
                    </div>
                    <div class="form_inner_div">{{ form_fio_doer.fio_1 }}</div>
                    <br />
                    <div class="form_inner_label">
                        <label class="form-label" for="{{ form_fio_doer.id_for_label }}"
                            >{{form_fio_doer.fio_2.label}}:
                        </label>
                    </div>
                    <div class="form_inner_div">{{ form_fio_doer.fio_2 }}</div>
                    <br />
                    <div class="form_inner_label">
                        <label class="form-label" for="{{ form_fio_doer.id_for_label }}"
                            >{{form_fio_doer.fio_3.label}}:
                        </label>
                    </div>
                    <div class="form_inner_div">{{ form_fio_doer.fio_3 }}</div>
                    <br />
                    <div class="form_inner_label">
                        <label class="form-label" for="{{ form_fio_doer.id_for_label }}"
                            >{{form_fio_doer.fio_4.label}}:
                        </label>
                    </div>
                    <div class="form_inner_div">{{ form_fio_doer.fio_4 }}</div>
                    <br />
                    <div class="form-error">{{ form_fio_doer.errors }}</div>

                    <button class="btn" type="submit" name="form" value="confirm_distribute|{{ id }}|{{ layout }}">Назначить ФИО</button>
                </div>
            </form>
        </div>
        {% endif %}
        {% endif %}
        <script>
            // кнопки распределения
            document.addEventListener("DOMContentLoaded", function () {
                const modal = document.querySelector("#plan_fio");
                modal.style.display = "block";
                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                        window.location.href='{{ request.path }}';
                    }
                };
            });
        </script>

        <script>
            function onChange() {
                document.getElementById("filter_form").submit();
            }
        </script>
        <p><a href="{% url 'schedulerwp' %}">Выбор терминала</a></p>
        <div style="height: 150px"></div>
        <script src="{% static 'scheduler/js/scheduler.js' %}"></script>
{% endblock %}
