{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Рабочее место технолога</title>
        <link type="text/css" href="{% static 'scheduler/css/scheduler.css' %}" rel="stylesheet" />
    </head>
    <body>
        <h1>Рабочее место конструктора</h1>
        <div class="col">
            <!-- prettier-ignore -->
            {% if td_queries %}
            <h3>Заявки на документацию</h3>
            <table class="table" title="Заявки на документацию">
                <tr class="table_header_row">
                    <td class="td_cell">Заказ</td>
                    <td class="td_cell">Изделие</td>
                    <td class="td_cell">Статус заявки</td>
                </tr>
                {% for line in td_queries %}
                <tr class="table_row">
                    {% for el in line.values %}
                    <td class="td_cell">{{ el }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>Данные для отображения отсутствуют</p>
            {% endif %}
            <script src="{% static 'constructor/js/constructor.js' %}"></script>
        </div>
        <br />
        <a href="{% url 'home' %}">Назад</a> <br />
    </body>
</html>
