{% extends 'base.html' %}
{% load static %}

{% block title %}
    Рабочее место конструктора
{% endblock %}

{% block body %}
        <h1>Рабочее место конструктора</h1>
        <div class="legend">
            <div>
                <p>Папка с чертежами: \\SVR-003\draws</p>
            </div>
        </div>
        {% if alert %}
        <script>
            function showNotification({ top = 0, right = 0, html, class_name }) {
                let notification = document.createElement("div");
                notification.className = class_name;
                notification.innerHTML = html;
                document.body.append(notification);
                // setTimeout(() => (notification.style.opacity = 0), 10000);
                setTimeout(() => notification.remove(), 10000);
            }
            showNotification({
                class_name: "notification",
                html: "<p class='alert_gone'> {{ alert }} </p>",
            });
        </script>
        {%endif %}
        <div class="col">
            <!-- Основная таблица интерфейса -->
            <h3>Заявки на документацию</h3>
            <p>
                <input type="button" onclick="window.location.href = '{{ request.path }}';" value="Сбросить фильтр" />
            </p>
            <table class="table" title="Заявки на документацию">
                <form method="get" id="filter_form">
                    <tr class="table_header_row">
                        <td class="td_cell">{{ filter.form.model_order_query }} Заказ-модель</td>
                        <td class="td_cell">{{ filter.form.query_prior }} Приоритет</td>
                        <td class="td_cell">{{ filter.form.td_status }} Статус завяки</td>
                        <td class="td_cell">{{ filter.form.datetime_done }}Дата готовности</td>
                        <td class="td_cell">{{ filter.form.td_query_datetime }} Дата запроса</td>
                        <td class="td_cell">Действие</td>
                    </tr>
                </form>
                {% for line in filter.qs %}
                <tr class="table_row">
                    <td class="td_cell">{{ line.model_order_query }}</td>
                    <td class="td_cell">{{ line.query_prior }}</td>
                    <td class="td_cell">{{ line.td_status }}</td>
                    <td class="td_cell">{{ line.datetime_done }}</td>
                    <td class="td_cell">{{ line.td_query_datetime }}</td>
                    <td class="td_cell">
                        <button class="kd_upload_btn btn" value="{{ line.model_order_query }}" title="Загрузить КД">
                            Загрузить КД
                        </button>
                    </td>
                </tr>

                {% endfor %}
            </table>
            <!-- Таблица замечаний к КД -->
            <h3>Замечания на КД</h3>
            <table class="table" title="Замечания на КД">
                <tr class="table_header_row">
                    <td class="td_cell">Заказ-модель</td>
                    <td class="td_cell">Замечение</td>
                </tr>
                <!-- prettier-ignore -->
                {% for line in filter.qs %} 
                    {% if line.td_remarks %}
                <tr class="table_row">
                    <td class="td_cell">{{ line.model_order_query }}</td>
                    <td class="td_cell">{{ line.td_remarks }}</td>
                </tr>
                <!-- prettier-ignore -->
                {% endif %} 
                {% endfor %}
            </table>
            <br />
            {% if downtimes %}
            <h3>Простои</h3>
            <table class="table" title="Замечания на КД">
                <tr class="table_header_row">
                    <td class="td_cell">Терминал</td>
                    <td class="td_cell">Заказ</td>
                    <td class="td_cell">Модель</td>
                    <td class="td_cell">Операция</td>
                    <td class="td_cell">ФИО исполнителя</td>
                    <td class="td_cell">Замечание</td>
                    <td class="td_cell">Время выдачи замечания</td>
                    <td class="td_cell">ФИО мастера</td>
                </tr>
                <!-- prettier-ignore -->
                {% for line in downtimes %}
                <tr class="table_row">
                    {% for data in line.values %}
                        <td class="td_cell">{{ data }}</td>
                    {% endfor %}
                </tr>
                <!-- prettier-ignore -->
                {% endfor %}
            </table>
            {% endif %}
            <br />
            <!-- Форма загрузки КД -->
            <div id="query_answer" class="modal">
                <form
                    id="id_query_answer_form"
                    action="{% url 'constructor' %}"
                    method="post"
                    enctype="multipart/form-data"
                    class="form_form modal-content"
                >
                    {% csrf_token %}
                    <div class="add_to_plan">
                        <h3>Форма загрузки КД</h3>
                        <div class="form_inner_label">{{ query_answer_form.model_order_query.label }}</div>
                        <div class="form_inner_div">{{ query_answer_form.model_order_query }}</div>
                        <br />
                        <div class="form_inner_label">{{ query_answer_form.draw_files.label }}</div>
                        <div class="form_inner_div">{{ query_answer_form.draw_files }}</div>
                        <div>
                            <button type="submit" class="form_button">
                                <p class="red_word">Загрузить чертежи</p>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    // Кнопка загрузки КД
                    const sel = id_query_answer_form.elements.model_order_query; // Получаем все селекты
                    const buttons = document.querySelectorAll(".kd_upload_btn"); // Получаем кнопки с классом
                    buttons.forEach(function (c) {
                        // Для каждой кнопки
                        c.onclick = function () {
                            // Слушаем нажатие
                            // Если нажата, то выбирает тот option, который в тексте кнопки.
                            const modal = document.querySelector("#query_answer");
                            modal.style.display = "block";
                            for (var n = 0; n < sel.length; n++) {
                                if (sel.options[n].text == c.value) sel.options[n].selected = true;
                            }
                            window.onclick = function (event) {
                                if (event.target == modal) {
                                    modal.style.display = "none";
                                }
                            };
                        };
                    });
                });
            </script>
            <script src="{% static 'constructor/js/constructor.js' %}"></script>
        </div>
        <br />
        <script>
            function onChange() {
                document.getElementById("filter_form").submit();
            }
        </script>
        <div style="height: 150px"></div>
{% endblock %}
