{% extends "base.html" %} 
{% block body %}
<div class="col">
    <h1>Файлы к акту №  {{object.act_number}}</h1>
    <div class='form_row'>
        <form action="{% url 'controller:index' %}">
            <button class="btn">Назад</button>
        </form>
    </div>
    
    <div class="equipment_card">
    {% for path, name in files.items %}
    <div class="card_row">
        <a class="table_link" href="{% url  'controller:show_file' path %}" >{{name}}</a>
        <div class="equipment_card__spacer"></div>
        <form action="{%url 'controller:delete_file_proc' object.pk path %}">
        <button class="btn" >удалить</button>
        </form>
    </div>
    {% endfor %}
    </div>    
</div>
{% endblock body %}
